/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/
@use "vuetify/settings" with (
  $color-pack: false
);

table.overview {
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  margin-left: 1rem;
  font-weight: 300;
  font-size: 0.9rem;

  th,
  td {
    text-align: left;
    padding: 0.25rem 1rem 0.25rem 0.5rem;
  }

  th.right,
  td.right {
    text-align: right;
  }
}
